<section class="row-fluid">
	<div class = "span4">
		<%= Scraper::getTableData("https://www.grubhub.com/restaurant/24529/?where=11205&") %>
	</div>
	<div class = "span4">
		<%= Scraper::getTableData("https://www.grubhub.com/restaurant/66838/?where=11205&") %>
	</div>
	<div class = "span4">
		<%= Scraper::getTableData("https://www.grubhub.com/restaurant/67032/?where=11205&") %>
	</div>
</section>